{% extends 'vrct_app/bootstrap.html' %}

{% block bootstrap4_before_content %}
{% comment %} HEADER {% endcomment %}
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark justify-content-center">
        <a class="navbar-brand" href="/">VR Conversation Training</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

          <ul class="navbar-nav w-100 justify-content-end">

            {% if user.is_authenticated %}

              {% if user.is_superuser %}

              <li class="nav-item dropdown ml-5">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <h6 class="dropdown-header">Overviews</h6>
                  <a {% if '/user-list' in request.path %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="/user-list">All User</a>
                  <a {% if '/training-list' in request.path %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="/training-list">All Trainings</a>
                  <div class="dropdown-divider"></div>
                  <h6 class="dropdown-header">Create New Content</h6>
                    <a {% if '/create-user' in request.path %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="/create-user">Create New User</a>
                    <a {% if '/create-training/bot' in request.path %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="/create-training/bot">Create New Bot</a>
                    <a {% if '/create-training/bot/variant' in request.path %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="/create-training/bot/variant">Create New Bot Variant</a>
                    <a {% if '/create-training/training' in request.path %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="/create-training/training">Create New Training</a>
                    <a {% if '/create-training/condition' in request.path %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="/create-training/condition">Create New Training Condition</a>
                    <a {% if '/create-training/group' in request.path %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="/create-training/group">Create New Training Experimental Group</a>
                </div>
              </li>

              {% endif %}

              <li class="nav-item dropdown ml-5">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trainees</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a {% if '/trainee-list' in request.path %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="/trainee-list">All Trainees</a>
                    <div class="dropdown-divider"></div>
                    <a {% if '/create-trainee' in request.path %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="/create-trainee">Create New Trainee</a>
                </div>
              </li>

              <li class="nav-item ml-5">
                  <a {% if '/start-training' in request.path %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="/start-training">Training</a>
              </li>

              {% if user.is_superuser %}
              <li class="nav-item ml-5">
                <a {% if '/export-data' in request.path %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="/export-data">Export Data</a>
              </li>
              {% endif %} -->

            {% endif %}



            <li class="nav-item dropdown ml-5">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if user.is_authenticated %}
                  <span>{{ request.user.get_full_name }}</span><i class="fas fa-user ml-3"></i>
                {% else %}
                  <i class="fas fa-user-slash"></i>
                {% endif %}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                {% if user.is_authenticated %}
                  <a class="dropdown-item" href="/logout">Logout</a>
                {% else %}
                  <a class="dropdown-item" href="/login">Login</a>
                {% endif %}
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
{% endblock %}

{% block bootstrap4_content %}
    <div class="container">
        <h1 class="mx-auto text-center display-4">{% block title %}(no title){% endblock %}</h1>

        {% block content %}(no content){% endblock %}
    </div>
{% endblock %}

{% block bootstrap4_after_content %}{% endblock %}

{% block bootstrap4_extra_script %}{% endblock %}