<!DOCTYPE html>
<html lang="de">

{% load static %}

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Peter Fromberger">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'vrct_app/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vrct_app/sticky-footer-navbar.css' %}">
    
    <!-- Fontawesome 5 -->
    <link rel="stylesheet" type="text/css" href="{% static 'vrct_app/all.min.css' %}"> 

    <!-- JQUERY-UI-->
    <link rel="stylesheet" type="text/css" href="{% static 'vrct_app/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vrct_app/jquery-ui.theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vrct_app/jquery-ui.structure.css' %}">

    {% block bootstrap4_extra_head %}{% endblock %}

</head>

<body>
    {% block bootstrap4_before_content %}{% endblock %}
    {% block bootstrap4_content %} CONTENT {% endblock %}
    {% block bootstrap4_after_content %}{% endblock %}
    

    <!-- Scripts -->
    <script src="{% static 'vrct_app/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'vrct_app/popper.min.js' %}"></script>
    <script src="{% static 'vrct_app/bootstrap.min.js' %}"></script>
    <script src="{% static 'vrct_app/jquery-ui.js' %}"></script>
    <script src="{% static 'vrct_app/highcharts.src.js' %}"></script>
    

    {% block bootstrap4_extra_script %}{% endblock %}

</body>

</html>
