{% extends 'vrct_app/base.html' %}

{% block title %}Hilfe{% endblock %}

{% block content %}

    <blockquote class="blockquote text-center mt-5">
        <p class="mb-0">Ja, mach nur einen Plan! Sei nur ein großes Licht! Und mach dann noch’nen zweiten Plan. Gehn tun sie beide nicht.</p>
        <footer class="blockquote-footer">Berthold Brecht, <cite title="Source Title">Ballade von der Unzulänglichkeit menschlichen Strebens, Dreigroschenoper, 1928</cite></footer>
    </blockquote>
    
{% endblock %}