{% extends 'vrct_app/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block bootstrap4_extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'vrct_app/signin.css' %}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}

    <form class="form-signin" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {% for error in form.non_field_errors %}
          <div class="form-group {% if form.non_field_errors %} has-error {% endif %}">{{ error }}</div>
        {% endfor %}

        <div class="form-group {% if form.username.errors %} has-error {% endif %}">
            {{ form.username|add_class:"form-control"|attr:"placeholder:Benutzername" }}
            {% for error in form.username.errors %}
              {{ error }}
            {% endfor %}
        </div>

        <div class="form-group {% if form.password.errors %} has-error {% endif %}">
            {{ form.password|add_class:"form-control"|attr:"placeholder:Passwort" }}
            {% for error in form.password.errors %}
              {{ error }}
            {% endfor %}
        </div>
        <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block" />
        <input type="hidden" name="next" value="/" />
    </form>
    
{% endblock %}