{% extends 'vrct_app/base.html' %}

{% block title %}VR Conversation Training{% endblock %}

{% block content %}

<div class="row d-flex justify-content-center mt-4">
    
    <div class="alert alert-success" role="alert">
        Sie wurden erfolgreich ausgelogged!
    </div>

</div>
    
{% endblock %}