{% extends 'vrct_app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Start Training Session{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">
    <div class="text-center col-md-6">
        <h3 class="text-center mt-5"><b>Training:</b> {{context.training_name}}</h3>
    </div>
    <div class="text-center col-md-6">
        <h3 class="text-center mt-5"><b>Trainee:</b> {{context.trainee_name}}</h3>
    </div>
</div>

<div class="row d-flex justify-content-center mt-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Condition</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
            {% for key, value in context.data.items %} 
            <tr>
                <th scope="row" class="align-middle h5">{{ key }}</th>
                <td>
                    {% for a, b in value.items %}
                        {% if a == 'Questionnaires (Pre)' %}
                        <p><b>{{a}}</b> {% if value.q_pre_finished_all %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-ban text-danger"></i>{% endif %}</p>
                        <p>
                            {% if value.n_q_pre > 0 %}
                            <ul>
                                {% for questionnaire, value in b.items %}
                                    <li>{{questionnaire}}: {{value}}</li>
                                {% endfor %} 
                            </ul>
                            {% else %}
                            <ul>
                                no questionnaires defined
                            </ul>
                            {% endif %}
                        </p>
                        {% elif a == 'Questionnaires (Post)' %}
                        <p><b>{{a}}</b> {% if value.q_post_finished_all %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-ban text-danger"></i>{% endif %}</p>
                        <p>
                            {% if value.n_q_post > 0 %}
                            <ul>
                                {% for questionnaire, value in b.items %}
                                    <li>{{questionnaire}}: {{value}}</li>
                                {% endfor %} 
                            </ul>
                            {% else %}
                            <ul>
                                no questionnaires defined
                            </ul>
                            {% endif %} 
                        </p>
                        {% elif a == 'Training Data' %}
                        <p><b>{{a}}</b> {% if value.training_condition_finished %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-ban text-danger"></i>{% endif %}</p>
                        <p>
                            <ul>
                                <li>{{b.number_trials}} Trial(s) in Database</li>
                            </ul>
                        </p>
                        {% endif %}
                    {% endfor %}
                    
                    {% if value.has_feedback %}
                        <p><b>Feedback</b> {% if value.feedback_finished %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-ban text-danger"></i>{% endif %}</p>
                        {% if value.feedback_finished %}
                            <ul>
                                <li>feedback already saved</li>
                            </ul>
                        {% else %}
                            <ul>
                                <li>feedback not saved yet</li>
                            </ul>
                        {% endif %}
                    {% else %}
                        <p><b>Feedback</b> <i class="fas fa-check-circle text-success"></i></p>
                        <ul>no feedback defined</ul>
                    {% endif %}
                </td>
                <td class="align-middle">
                    {% if not value.training_condition_finished or not value.q_post_finished_all or not value.q_pre_finished_all %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="context" value='{{context}}'></input>
                        <button type="submit" class="btn btn-success" name="start" value='{{key}}'>Start Training Condition</button>
                    </form>
                    {% else %}
                        <p>Condition already finished.</p>
                        {% if value.has_feedback %}
                            <a href="{% url 'show_feedback' training_id=context.training_id trainee_id=context.trainee_id condition_id=value.pk %}"><button class="btn btn-success">Go to FEEDBACK</button></a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
