{% extends 'vrct_app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">

    <div class="text-center col-md-4">
        <div class="h5 my-3"><b>Trainee:</b> {{context.current_training.trainee}}</div>
    </div>
    <div class="text-center col-md-4">
        <div class="h5 my-3"><b>Training:</b> {{context.current_training.training}}</div>
    </div>
    <div class="text-center col-md-4">
        <div class="h5 my-3"><b>Condition:</b> {{context.current_training.condition}}</div>
    </div>
</div>

{% if context.check_ok %}
    <div class="row d-flex justify-content-center">

        {% if context.q_pre %}
            <h1 class="text-center col-md-12 mt-5">{{context.q_name}} (Pre)</h3>
            <h4 class="text-center col-md-12 mt-3">Please answer all questions and click next.</h4>
            <form method="post" class="mx-auto center-text mt-4">
                {% csrf_token %}
                {{ context.form|crispy }}
                <input type="hidden" name="trainee_id" value='{{context.trainee_id}}'></input>
                <input type="hidden" name="training_id" value='{{context.training_id}}'></input>
                <input type="hidden" name="condition_id" value='{{context.condition_id}}'></input>
                <input type="hidden" name="current_training" value='{{context.current_training.pk}}'></input>
                <input type="hidden" name="q_name" value='{{context.q_name}}'></input>
                <input type="hidden" name="q_pre" value='{{context.q_pre}}'></input>
                <input type="hidden" name="q_post" value='{{context.q_post}}'></input>
                <input type="hidden" name="training" value='{{context.q_training}}'></input>
                <input type="hidden" name="check_ok" value='{{context.check_ok}}'></input>
                <input type="hidden" name="qs_dict" value='{{context.qs_dict}}'></input>
                <button type="submit" class="btn btn-lg btn-primary">Next</button>
            </form>
        {% elif context.training %}

            <div class="alert alert-warning mt-5 text-center" role="alert">
                <h3 class="alert-heading">You have answered all Questionnaires!</h3>
                <p>Please talk to your operator, that you have finished the questionnaires. OPERATOR: To start the training, click the button below!</p>
                <hr>

                {% if not context.bot_choosen %}
                <a href="{% url 'run_training_with_app_choose' training_id=context.training_id trainee_id=context.trainee_id condition_id=context.condition_id %}"><button class="btn btn-primary">Start Training</button></a>
                {% else %}
                <a href="{% url 'run_training_with_app_websocket' training_id=context.training_id trainee_id=context.trainee_id condition_id=context.condition_id room_name=context.current_training.ws_room_name %}"><button class="btn btn-primary">Start Training</button></a>
                {% endif %}
            </div>
        {% elif context.q_post %}
            <h1 class="text-center col-md-12 mt-5">{{context.q_name}} (Post)</h3>
            <h4 class="text-center col-md-12 mt-3">Please answer all questions and click next.</h4>
            <form method="post" class="mx-auto center-text mt-4">
                {% csrf_token %}
                {{ context.form|crispy }}
                <input type="hidden" name="trainee_id" value='{{context.trainee_id}}'></input>
                <input type="hidden" name="training_id" value='{{context.training_id}}'></input>
                <input type="hidden" name="condition_id" value='{{context.condition_id}}'></input>
                <input type="hidden" name="current_training" value='{{context.current_training.pk}}'></input>
                <input type="hidden" name="q_name" value='{{context.q_name}}'></input>
                <input type="hidden" name="q_pre" value='{{context.q_pre}}'></input>
                <input type="hidden" name="q_post" value='{{context.q_post}}'></input>
                <input type="hidden" name="training" value='{{context.q_training}}'></input>
                <input type="hidden" name="check_ok" value='{{context.check_ok}}'></input>
                <input type="hidden" name="qs_dict" value='{{context.qs_dict}}'></input>
                <button type="submit" class="btn btn-lg btn-primary">Next</button>
            </form>
        {% else %}
            <div class="alert alert-warning mt-5 text-center" role="alert">
                <h3 class="alert-heading">All data is saved in the database for this condition!</h3>
                <p>To start the feedback session (if one is defined for this condition), click the Button below.</p>
                <hr>
                <a href="{% url 'show_feedback' training_id=context.training_id trainee_id=context.trainee_id condition_id=context.condition_id %}"><button class="btn btn-primary">Go to FEEDBACK</button></a>
            </div>
        {% endif %}

    </div>
{% else %}
    <div class="row d-flex justify-content-center">
        <div class="alert alert-danger" role="alert">
            Something went wrong! Please check your data, since there are data in the database which should not exist at this status of the condition!
        </div>
    </div>
{% endif %}

{% endblock %}

{% block bootstrap4_extra_script %}

{% endblock %}