{% extends 'vrct_app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">

    <div class="text-center col-md-4">
        <div class="h5 my-3"><b>Trainee:</b> {{context.current_training.trainee}}</div>
    </div>
    <div class="text-center col-md-4">
        <div class="h5 my-3"><b>Training:</b> {{context.current_training.training}}</div>
    </div>
    <div class="text-center col-md-4">
        <div class="h5 my-3"><b>Condition:</b> {{context.current_training.condition}}</div>
    </div>
</div>

<div class="alert alert-warning mt-5 text-center" role="alert">
    <h3 class="alert-heading">Now it is time to start the app and run the vr training</h4>
    <p>When the training is finished, a click on the button below takes the next step. If the training is not finished yet, a click on the button below will reload the page.</p>
    <hr>
 
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="trainee_id" value='{{context.trainee_id}}'></input>
        <input type="hidden" name="training_id" value='{{context.training_id}}'></input>
        <input type="hidden" name="condition_id" value='{{context.condition_id}}'></input>
        <input type="hidden" name="room_name" value='{{room_name}}'></input>
        <button type="submit" class="btn btn-primary" name="start">training finished?</button>
    </form>

    </div>
</div>


{% endblock %}

{% block bootstrap4_extra_script %}

{% endblock %}