{% extends 'vrct_app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">

    <div class="text-center col-md-4">
        <div class="h5 my-3"><b>Trainee:</b> {{context.current_training.trainee}}</div>
    </div>
    <div class="text-center col-md-4">
        <div class="h5 my-3"><b>Training:</b> {{context.current_training.training}}</div>
    </div>
    <div class="text-center col-md-4">
        <div class="h5 my-3"><b>Condition:</b> {{context.current_training.condition}}</div>
    </div>
</div>

<div class="row d-flex justify-content-center mt-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Bot Variant</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
            {% for variant in context.bot_variants %}
            <tr>
                <td>{{ variant.name }}</td>
                <td>{{ variant.short_description }}</td>
                <td>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="trainee_id" value='{{context.trainee_id}}'></input>
                        <input type="hidden" name="training_id" value='{{context.training_id}}'></input>
                        <input type="hidden" name="condition_id" value='{{context.condition_id}}'></input>
                        <button type="submit" class="btn btn-success" name="start" value='{{variant.name}}'>Start with Variant {{ variant.name }}</button>
                    </form>
                </td>
            </tr>
            {% endfor %}

{% endblock %}

{% block bootstrap4_extra_script %}

{% endblock %}