<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white">
      <q-bar class="q-electron-drag">
        <div>VRCT Operator App</div>

        <q-space />

        <q-btn dense flat icon="minimize" @click="minimize" class="q-mx-sm" />
        <q-btn
          dense
          flat
          icon="crop_square"
          @click="toggleMaximize"
          class="q-mx-sm"
        />
        <q-btn dense flat icon="close" @click="closeApp" class="q-mx-sm" />
      </q-bar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer elevated class="bg-grey-8 text-white">
      <q-toolbar>
        <q-btn
          flat
          round
          dense
          :icon="
            store_auth.isAuthorized
              ? 'fa-solid fa-user'
              : 'fa-solid fa-user-slash'
          "
        >
          <q-menu>
            <div v-if="store_auth.isAuthorized" class="row no-wrap q-pa-md">
              <div class="column items-center">
                <q-avatar size="72px">
                  <q-icon name="fa-solid fa-head-side-virus" size="72px" />
                </q-avatar>

                <div class="text-subtitle1 q-mt-md q-mb-xs">
                  {{ store_auth.username }}
                </div>

                <div class="text-subtitle1 q-mt-md q-mb-xs">
                  {{ store_auth.getUserGroup }}
                </div>

                <q-btn color="primary" label="Logout" @click="logOut" />
              </div>
            </div>
          </q-menu>
        </q-btn>

        <q-btn flat round dense icon="fa-solid fa-gears" class="q-mx-sm">
          <q-menu>
            <div class="row no-wrap q-pa-md">
              <div class="column">
                <div class="text-subtitle1 q-mb-md q-mb-xs">BACKEND-SERVER</div>

                <q-form @submit="onSubmit" class="q-gutter-md">
                  <q-input
                    filled
                    v-model="ws_host"
                    label="IP"
                    hint="IP of the backend server"
                    lazy-rules
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please type something',
                    ]"
                  />

                  <q-input
                    filled
                    type="number"
                    v-model="ws_port"
                    label="Port"
                    hint="Port of the backend server"
                    lazy-rules
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please type something',
                    ]"
                  />

                  <div>
                    <q-btn label="Change" type="submit" color="primary" />
                  </div>
                </q-form>
              </div>
            </div>

            <q-separator v-if="store_auth.isAuthorized" />

            <div
              v-if="
                store_auth.isAuthorized &&
                store_auth.getUserGroup == 'Administrator'
              "
              class="row no-wrap q-pa-md"
            >
              <div class="column">
                <q-btn to="/dev">Dev-Mode</q-btn>
              </div>
            </div>
          </q-menu>
        </q-btn>

        <q-space />

        <q-icon
          name="fa-solid fa-database"
          :color="store_training.ws_open ? 'positive' : 'negative'"
          class="q-mx-sm"
          size="24px"
        />

        <q-icon
          name="fa-solid fa-comments"
          :color="store_training.csConnected ? 'positive' : 'negative'"
          class="q-mx-sm"
          size="24px"
        />

        <q-icon
          name="fa-brands fa-unity"
          :color="store_training.unityConnected ? 'positive' : 'negative'"
          class="q-mx-sm"
          size="24px"
        />
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
import { computed, defineComponent, ref } from "vue";
import { useAuthStore } from "stores/auth";
import { useRunningTrainingStore } from "stores/running_training";
import auth from "../api/auth.js";
import backend from "../api/backend.js";
import ws_client from "../websocket/client";

import { useRouter } from "vue-router";

export default defineComponent({
  name: "MainLayout",

  /*   components: {
    EssentialLink,
  }, */

  setup() {
    const router = useRouter();
    const store_auth = useAuthStore();
    const store_training = useRunningTrainingStore();
    const ws_host = ref("127.0.0.1");
    const ws_port = ref("8000");

    function minimize() {
      if (process.env.MODE === "electron") {
        window.myWindowAPI.minimize();
      }
    }

    function toggleMaximize() {
      if (process.env.MODE === "electron") {
        window.myWindowAPI.toggleMaximize();
      }
    }

    function closeApp() {
      if (process.env.MODE === "electron") {
        // always set running_training to false on close
        if (store_training.wsOpen) {
          ws_client.sendMessage("app", "cs", ":quit", "system");
          backend.UpdateTrainingRunning(false).then((resp) => {
            window.myWindowAPI.close();
          });
        } else {
          window.myWindowAPI.close();
        }
      }
    }

    return {
      minimize,
      toggleMaximize,
      closeApp,
      store_auth,
      store_training,
      ws_host,
      ws_port,

      ws_open: computed(() => store_training.wsOpen),

      admin: ref(true),
      operator: ref(false),

      leftDrawerOpen: ref(true),

      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },

      onSubmit() {
        store_training.changeWsHost(ws_host.value);
        store_training.changeWsPort(ws_port.value);
      },

      logOut() {
        auth.LogoutRoutine().then(() => {
          router.push({ path: "/login" });
        });
      },
    };
  },
});
</script>
