{% extends 'vrct_app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Export Data{% endblock %}

{% block content %}

<div class="row d-flex justify-content-center">
    <div class="h3 my-3">You can export the following data for Training <b>{{context.training_name}}</b>:</div>
</div>

<div class="row d-flex justify-content-center mt-4">
    <a href="{% url 'export_export' training_id=context.training_id model_name=context.data_model_name type='data' %}"><button class="btn btn-primary">{{context.data_model_name}}</button></a>
</div>

{% if context.q_names %}
    {% for q in context.q_names %}
    <div class="row d-flex justify-content-center mt-4">
        <a href="{% url 'export_export' training_id=context.training_id model_name=q type='questionnaire' %}"><button class="btn btn-primary">{{q}}</button></a>
    </div>
    {% endfor %}
{% endif %}

{% if context.f_names %}
    {% for f in context.f_names %}
    <div class="row d-flex justify-content-center mt-4">
        <a href="{% url 'export_export' training_id=context.training_id model_name=f type='feedback' %}"><button class="btn btn-primary">{{f}}</button></a>
    </div>
    {% endfor %}
{% endif %}
    
{% endblock %}
