<template>
  <q-page v-if="training_list.length > 0">
    <div class="q-px-md q-py-lg row flex flex-center text-h4">
      <div class="q-mt-lg">Please choose a current running training:</div>
    </div>

    <div class="q-px-md q-py-lg row flex flex-center text-h4">
      <q-btn :loading="loading_btn" color="warning" @click="getData"
        >Update</q-btn
      >
    </div>

    <div class="flex flex-center">
      <div class="q-pa-md row items-center q-gutter-md">
        <q-card
          class="my-card"
          flat
          bordered
          v-for="(training, i) in training_list"
          :key="training.id"
        >
          <q-card-section>
            <div class="text-overline text-orange-9">Current Training</div>
          </q-card-section>

          <q-card-actions>
            <q-icon name="fa-solid fa-caret-right" size="1.4rem" />
            <div class="text-h6 q-ml-sm">
              Training:
              <span class="text-primary">{{ training.training }}</span>
            </div>
          </q-card-actions>

          <q-card-actions>
            <q-icon name="fa-solid fa-caret-right" size="1.4rem" />
            <div class="text-h6 q-ml-sm">
              Trainee:
              <span class="text-primary">{{ training.trainee }}</span>
            </div>
          </q-card-actions>

          <q-card-actions>
            <q-icon name="fa-solid fa-caret-right" size="1.4rem" />
            <div class="text-h6 q-ml-sm">
              Condition:
              <span class="text-primary">{{ training.condition }}</span>
            </div>
          </q-card-actions>

          <q-card-actions>
            <q-icon name="fa-solid fa-caret-right" size="1.4rem" />
            <div class="text-h6 q-ml-sm">
              Bot:
              <span class="text-primary">{{ training.bot }}</span>
            </div>
          </q-card-actions>

          <q-card-actions>
            <q-icon name="fa-solid fa-caret-right" size="1.4rem" />
            <div class="text-h6 q-ml-sm">
              Bot Variant:
              <span class="text-primary">{{ training.bot_variant }}</span>
            </div>
          </q-card-actions>

          <q-card-actions align="center" class="q-mt-lg">
            <q-btn size="lg" color="orange-9" @click="startTraining(i)"
              >Start</q-btn
            >
          </q-card-actions>

          <q-card-actions>
            <div class="text-subitle2 q-ml-sm">Additional Info</div>

            <q-space />

            <q-btn
              color="grey"
              round
              flat
              dense
              :icon="
                training_expanded[i]
                  ? 'keyboard_arrow_up'
                  : 'keyboard_arrow_down'
              "
              @click="training_expanded[i] = !training_expanded[i]"
            />
          </q-card-actions>

          <q-slide-transition>
            <div v-show="training_expanded[i]">
              <q-separator />
              <q-card-section class="text-subitle2">
                <ul>
                  <li>
                    ws-room-name:
                    <span class="text-primary">{{ training.ws_room }}</span>
                  </li>
                  <li>
                    q-pre-finished:
                    <span class="text-primary">{{
                      training.q_pre_finished
                    }}</span>
                  </li>
                  <li>
                    q-post-finished:
                    <span class="text-primary">{{
                      training.q_post_finished
                    }}</span>
                  </li>
                </ul>
              </q-card-section>
            </div>
          </q-slide-transition>
        </q-card>
      </div>
    </div>
  </q-page>

  <q-page v-else>
    <div class="q-px-md q-py-lg row flex flex-center text-h4">
      <q-btn :loading="loading_btn" color="warning" @click="getData"
        >Update</q-btn
      >
    </div>

    <div class="q-px-md q-py-lg row flex flex-center text-h4">
      <q-banner rounded class="bg-negative text-white">
        <template v-slot:avatar>
          <q-icon
            name="fa-solid fa-circle-exclamation"
            color="white"
            size="lg"
          />
        </template>

        <div class="text-h5">
          There are no current running trainings in the database. Please login
          to the backend and start a training!
        </div>
      </q-banner>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import { mapStores, mapState } from "pinia";
import { useRunningTrainingStore } from "stores/running_training";
import backend from "../api/backend.js";

export default defineComponent({
  name: "IndexPage",

  data() {
    return {
      training_expanded: [],
      loading_btn: false,
    };
  },

  created: function () {
    this.getData();
  },

  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useRunningTrainingStore),

    ...mapState(useRunningTrainingStore, ["training_list"]),
  },

  methods: {
    getData() {
      this.loading_btn = true;
      backend.GetCurrentTrainings().then((resp) => {
        this.runningTrainingStore.changeTrainingList(resp.data.Items);

        for (let i = 0; i < this.training_list.length; i++) {
          this.training_expanded.push(false);
        }

        this.loading_btn = false;
      });
    },

    async startTraining(i) {
      // define current training in store
      await this.runningTrainingStore.changeRunningTrainingApi(
        this.training_list[i]
      );

      // mark current training in backend as running (unity finds only running trainings)
      backend.UpdateTrainingRunning(true).then((resp) => {
        this.$router.push("/devmode");
      });
    },
  },
});
</script>
