<template>
  <q-page padding>
    <div class="q-px-md q-py-lg row flex flex-center text-h4">
      <q-btn class="align-right q-mt-lg" to="/">Not Dev</q-btn>
    </div>

    <div class="q-px-md q-py-lg row flex flex-center text-h4">
      <div class="q-mt-lg">Dev-Mode</div>
    </div>

    <div class="row flex flex-center q-mx-md q-py-lg">
      <q-card class="q-mr-md q-mt-md">
        <q-card-section>
          <div class="text-overline">Chatscript</div>
        </q-card-section>

        <q-card-actions>
          <q-btn @click="startCS">Start CS</q-btn>
          <q-btn @click="stopCS">Stop CS</q-btn>
        </q-card-actions>
      </q-card>

      <q-card class="q-mr-md q-mt-md">
        <q-card-section>
          <div class="text-overline">Websocket Client</div>
        </q-card-section>

        <q-card-actions>
          <q-btn @click="startWS">Start WS</q-btn>
          <q-btn @click="stopWS">Stop WS</q-btn>
        </q-card-actions>
      </q-card>
    </div>

    <div class="row flex flex-center">
      <q-card style="width: 70%" class="q-mr-md">
        <q-card-section>
          <div class="text-overline">Websocket Communication</div>
        </q-card-section>

        <q-separator />

        <q-card-section>
          <q-virtual-scroll
            style="max-height: 304px; min-height: 304px"
            :items="allMessages"
            separator
            v-slot="{ item, index }"
          >
            <q-item :key="index">
              <q-item-section>
                <q-item-label overline
                  ><span class="text-caption q-mr-xs q-mt-xs"
                    >[{{
                      new Date(item.timestamp.slice(0, -1)).toLocaleString(
                        "en-US"
                      )
                    }}]</span
                  >
                </q-item-label>
                <q-item-label caption
                  >from: {{ item.from }} | to: {{ item.to }} | type:
                  {{ item.type }}</q-item-label
                >
                <q-item-label>{{ item.text }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-virtual-scroll>
        </q-card-section>
      </q-card>

      <q-card>
        <q-card-section>
          <div class="text-overline">Send Message</div>
        </q-card-section>

        <q-separator />

        <q-card-section>
          <q-form class="q-gutter-md" @submit="onSubmit" ref="myForm">
            <q-select
              v-model="new_message_from"
              filled
              :options="['app', 'backend', 'cs', 'unity']"
              label="from"
            />

            <q-select
              v-model="new_message_to"
              filled
              :options="['app', 'backend', 'cs', 'unity']"
              label="to"
            />

            <q-select
              v-model="new_message_type"
              filled
              :options="['system', 'question', 'answer', 'heartbeat']"
              label="type"
            />

            <q-input
              v-model="new_message_text"
              filled
              type="text"
              label="New Message"
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
            >
            </q-input>
          </q-form>

          <q-separator />

          <div class="q-px-md q-py-lg row flex flex-center text-h4">
            <q-btn color="warning" type="submit" @click="onSubmit"
              >Send Message</q-btn
            >
          </div>
        </q-card-section>
      </q-card>

      <q-card>
        <q-card-section>
          <div class="text-overline">Send Message</div>
        </q-card-section>

        <q-separator />

        <q-card-section>
          <q-form
            class="q-gutter-md"
            @submit="onSubmitCsAnswer"
            ref="myFormCsAnswer"
          >
            <q-select
              v-model="sim_cs_answer_actionType"
              filled
              :options="['communicative', 'reserved']"
              label="actionType"
            />

            <q-select
              v-model="sim_cs_answer_soundFile"
              filled
              type="text"
              label="soundFile"
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
            />
          </q-form>

          <q-separator />

          <div class="q-px-md q-py-lg row flex flex-center text-h4">
            <q-btn color="warning" type="submit" @click="onSubmitCsAnswer"
              >Simulate CS Answer</q-btn
            >
          </div>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import { mapStores, mapState } from "pinia";
import { useRunningTrainingStore } from "stores/running_training";

import ws_client from "../websocket/client";

export default defineComponent({
  name: "DevMode",

  components: {
    //CommunicationCard,
  },

  data() {
    return {
      items: [],
      new_message_text: "",
      new_message_from: "app",
      new_message_to: "cs",
      new_message_type: "system",

      sim_cs_answer_actionType: "communicative",
      sim_cs_answer_soundFile: "intro",
    };
  },

  created: function () {
    //
  },

  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useRunningTrainingStore),

    ...mapState(useRunningTrainingStore, [
      "allMessages",
      "wsHost",
      "wsPort",
      "wsRoom",
      "wsBotVariant",
    ]),
  },

  methods: {
    /**CHATSCRIPT */
    startCS() {
      console.log("Try to start chatscript....");
      console.log(this.runningTrainingStore.running_training_api);

      var data = {
        ws_host: this.wsHost,
        ws_port: this.wsPort,
        ws_room: this.wsRoom,
        bot_variant: this.wsBotVariant,
      };

      window.electronAPI.startChatscript(data).then(() => {
        console.log("YEAH!!!!");
      });
    },

    stopCS() {
      ws_client.sendMessage("app", "cs", ":quit", "system");
    },

    /** WEBSOCKET */
    startWS() {
      ws_client.startWsClient();
    },

    stopWS() {
      ws_client.closeWsClient();
    },

    sendWsMessage() {
      ws_client.sendMessage(
        this.new_message_from,
        this.new_message_to,
        this.new_message_text,
        this.new_message_type
      );
    },

    onSubmit() {
      this.$refs.myForm.validate().then((success) => {
        if (success) {
          this.sendWsMessage();
        } else {
          console.log("something went wrong");
        }
      });
    },

    onSubmitCsAnswer() {
      this.$refs.myFormCsAnswer.validate().then((success) => {
        if (success) {
          ws_client.sendCsSimulatedAnswer(
            this.sim_cs_answer_soundFile,
            this.sim_cs_answer_actionType
          );
          console.log("simulated message was sent.");
        } else {
          console.log("something went wrong");
        }
      });
    },
  },
});
</script>
