<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md row items-start q-gutter-md">
      <q-card bordered class="q-pa-lg shadow-1">
        <q-card-section>
          <div class="text-h4 items-center">Login</div>
        </q-card-section>

        <q-separator inset />

        <q-card-section>
          <q-form class="q-gutter-md" @submit="onSubmit" ref="myForm">
            <q-input
              square
              filled
              clearable
              v-model="username"
              type="text"
              label="username"
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
            />
            <q-input
              v-model="password"
              filled
              :type="isPwd ? 'password' : 'text'"
              label="password"
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
          </q-form>
        </q-card-section>
        <q-card-actions class="q-px-md">
          <q-btn
            unelevated
            color="primary"
            size="lg"
            class="full-width"
            label="Login"
            type="submit"
            @click="onSubmit"
          />
        </q-card-actions>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref } from "vue";
import auth from "../api/auth.js";
import backend from "../api/backend.js";

import { useRouter } from "vue-router";

export default defineComponent({
  name: "LoginPage",

  setup() {
    const username = ref(null);
    const password = ref(null);
    const isPwd = ref("password");
    const myForm = ref(null);

    const router = useRouter();

    return {
      username,
      password,
      isPwd,
      myForm,

      onSubmit() {
        myForm.value.validate().then((success) => {
          if (success) {
            auth.LoginRoutine({ username, password }).then(() => {
              backend.GetCurrentTrainings().then((resp) => {
                router.push({ path: "/" });
              });
            });
          }
        });
      },
    };
  },
});
</script>

<style>
.q-card {
  width: 350px;
}
</style>
