<template>
  <q-page padding>
    <q-stepper v-model="step" ref="stepper" color="primary" animated>
      <q-step
        :name="1"
        title="CHOOSE"
        caption="Traning and Trainee"
        icon="fa-solid fa-check-to-slot"
        :done="step > 1"
      >
        <ChooseTraining />
      </q-step>

      <q-step
        :name="2"
        title="CONNECT"
        caption="Unity and Chatscript"
        icon="fa-solid fa-network-wired"
        :done="step > 2"
      >
        <ConnectTraining />
      </q-step>

      <q-step
        :name="3"
        title="RUN"
        caption="the training"
        icon="fa-solid fa-play"
        :done="step > 3"
      >
        <RunTraining />
      </q-step>

      <q-step
        :name="4"
        title="FINISH"
        caption="the training"
        icon="fa-solid fa-flag-checkered"
      >
        <FinishTraining />
      </q-step>

      <template v-slot:message>
        <q-banner v-if="step === 1" class="bg-orange-8 text-white q-px-lg">
          Please choose a training...
        </q-banner>
        <q-banner v-else class="bg-orange-8 text-white q-px-lg">
          <span class="text-center">
            <b>Training:</b> {{ getCurrentTraining.training }} |
            <b>Trainee:</b> {{ getCurrentTraining.trainee }} | <b>Bot:</b>
            {{ getCurrentTraining.bot }} | <b>Bot-Variant:</b>
            {{ getCurrentTraining.bot_variant }}
          </span>
        </q-banner>
      </template>

      <template v-slot:navigation>
        <q-stepper-navigation v-if="step <= 2">
          <q-btn
            @click="next"
            color="primary"
            label="Continue"
            :disable="!stepOk"
          />
          <q-btn
            v-if="step == 2"
            flat
            color="primary"
            @click="previous"
            label="Back"
            class="q-ml-sm"
            :disabled="!previousOK"
          />
        </q-stepper-navigation>
        <q-stepper-navigation v-if="step == 4">
          <div class="full-height row wrap justify-evenly">
            <div class="q-px-md q-pb-lg row flex flex-center">
              <q-btn color="primary" label="FINISH" @click="finishTraining">
                <q-tooltip
                  >Finish this training and choose a new training to
                  start.</q-tooltip
                >
              </q-btn>
            </div>
          </div>
          <div class="full-height row wrap justify-evenly">
            <div class="q-px-md q-pb-lg row flex flex-center">
              <q-btn
                outline
                color="primary"
                label="Restart"
                class="q-ml-sm"
                @click="restartTraining"
              >
                <q-tooltip
                  >If you stopped the training before trainee has finished, you
                  can restart it. But be aware! All already saved data will be
                  deleted and the training starts at the beginning.</q-tooltip
                >
              </q-btn>
            </div>
          </div>
          <div
            class="full-height row wrap justify-evenly"
            v-if="getUserGroup == 'Administrator'"
          >
            <div class="q-px-md q-pb-lg row flex flex-center">
              <q-btn
                outline
                color="grey"
                label="FINISH and Delete Data"
                class="q-ml-sm"
                @click="finishTrainingDev"
              >
                <q-tooltip
                  >Finish this training and !!! DELETE !!! the training
                  data.</q-tooltip
                >
              </q-btn>
            </div>
          </div>
        </q-stepper-navigation>
      </template>
    </q-stepper>

    <q-dialog
      v-model="wait_dialog"
      persistent
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card style="height: 86px">
        <q-item>
          <q-item-section avatar>
            <q-circular-progress
              indeterminate
              size="65px"
              :thickness="0.2"
              color="primary"
              center-color="grey-8"
              track-color="transparent"
            />
          </q-item-section>

          <q-item-section>
            <q-item-label class="text-h5">Please wait...</q-item-label>
          </q-item-section>
        </q-item>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import { mapStores, mapState } from "pinia";
import { useRunningTrainingStore } from "stores/running_training";
import { useAuthStore } from "stores/auth";
import ws_client from "../websocket/client";
import backend from "../api/backend.js";
import trainingTimer from "../helper/trainingTimer";

import ChooseTraining from "components/ChooseTraining";
import ConnectTraining from "components/ConnectTraining";
import RunTraining from "components/RunTraining";
import FinishTraining from "components/FinishTraining";

export default defineComponent({
  name: "NotDev",

  components: {
    ChooseTraining,
    ConnectTraining,
    RunTraining,
    FinishTraining,
  },

  data() {
    return {
      step: 1,
      finished_dev: false,
      wait_dialog: false,
      previousOK: false,
    };
  },

  created: function () {
    //
  },

  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useRunningTrainingStore),
    ...mapStores(useAuthStore),

    ...mapState(useAuthStore, ["getUserGroup"]),

    ...mapState(useRunningTrainingStore, [
      "training_list",
      "stepOk",
      "getCurrentTraining",
      "wsOpen",
      "unityConnected",
      "csConnected",
      "trainingSceneStarted",
      "trainingFinished",
    ]),
  },

  watch: {
    step(newValue, oldValue) {
      if (newValue == 1) {
        this.previousOK = false;

        // refresh data
        backend.GetCurrentTrainings().then((resp) => {});
      }
    },

    trainingSceneStarted(newValue, oldValue) {
      if (newValue == false) {
        this.$refs.stepper.next();
      }
    },

    wsOpen(newValue, oldValue) {
      if (newValue == false && !this.csConnected && !this.unityConnected) {
        // reset trial data
        this.wait_dialog = false;
        this.step = 1;
      }
    },

    csConnected(newValue, oldValue) {
      if (newValue == true) {
        this.previousOK = true;
      }

      if (newValue == false && !this.wsOpen && !this.unityConnected) {
        // reset trial data
        this.wait_dialog = false;
        this.step = 1;
      }

      if (newValue == false && this.wsOpen && !this.unityConnected) {
        this.stopWS();
      }
    },

    unityConnected(newValue, oldValue) {
      // stepOk
      if (newValue == false && !this.csConnected && !this.wsOpen) {
        this.runningTrainingStore.changeRunningTrainingApi({});
        this.wait_dialog = false;
        this.step = 1;
      }
    },

    trainingFinished(newValue, oldValue) {
      if (newValue == true) {
        if (this.finished_dev) {
          backend.UpdateTrainingRunning(false).then((resp) => {
            backend.UpdateTrainingFinished(false).then((resp) => {
              backend.DeleteTrainingData().then((resp) => {
                if (this.csConnected) {
                  this.runningTrainingStore.resetTrialData(false);
                  this.stopCS();
                }
              });
            });
          });
        } else {
          backend.UpdateTrainingRunning(false).then((resp) => {
            backend.UpdateTrainingFinished(true).then((resp) => {
              if (this.csConnected) {
                this.runningTrainingStore.resetTrialData(false);
                this.stopCS();
              }
            });
          });
        }
      }
    },
  },

  methods: {
    stopCS() {
      ws_client.sendMessage("app", "cs", ":quit", "system");
    },

    stopWS() {
      ws_client.closeWsClient();
    },

    next() {
      if (this.step == 1) {
        // update current running training as running
        backend.UpdateTrainingRunning(true).then((resp) => {
          // check if already connected
          if (this.wsOpen && this.csConnected && this.unityConnected) {
            this.runningTrainingStore.changeStepOk(true);
          } else {
            this.runningTrainingStore.changeStepOk(false);
          }

          this.$refs.stepper.next();
        });
      } else if (this.step == 2) {
        this.$refs.stepper.next();
        this.runningTrainingStore.changeStepOk(false);
      } else if (this.step == 3) {
        this.$refs.stepper.next();
      }
    },

    previous() {
      if (this.step == 2) {
        this.wait_dialog = true;

        // update current running training as NOT running
        backend.UpdateTrainingRunning(false).then((resp) => {
          if (this.wsOpen && this.csConnected && this.unityConnected) {
            ws_client.sendMessage("app", "unity", "finish training", "system");
          }

          if (this.wsOpen && this.csConnected && !this.unityConnected) {
            this.stopCS();
          }
        });
      }
    },

    finishTraining() {
      this.finished_dev = false;
      this.wait_dialog = true;
      ws_client.sendMessage("app", "unity", "finish training", "system");
    },

    finishTrainingDev() {
      this.finished_dev = true;
      this.wait_dialog = true;
      ws_client.sendMessage("app", "unity", "finish training", "system");
    },

    restartTraining() {
      ws_client.sendMessage("app", "unity", "restart training", "system");

      backend.DeleteTrainingData().then((resp) => {
        // reset trial data
        this.runningTrainingStore.resetTrialData(true);

        // reset bot
        ws_client.sendMessage("app", "cs", ":reset", "system");

        // go to Running
        this.step = 3;

        // restart training timer
        trainingTimer.training_timer_start();
      });
    },
  },
});
</script>
