<template>
  <q-table
    title="Available Trainings"
    :rows="training_list"
    row-key="id"
    selection="single"
    v-model:selected="selected"
    :selected-rows-label="getSelectedString"
    no-data-label="I didn't find any training for you. Ensure that there is a suitable current running training object in the database."
    :filter="filter"
    grid
    hide-header
  >
    <template v-slot:top-right>
      <q-btn outline :loading="loading_btn" color="warning" @click="getData"
        >Refresh</q-btn
      >
    </template>

    <template v-slot:item="props">
      <div
        class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
        :style="props.selected ? 'transform: scale(0.95);' : ''"
      >
        <q-card :class="props.selected ? 'bg-grey-2' : ''">
          <q-card-section>
            <q-checkbox
              dense
              v-model="props.selected"
              :label="'Run this training (id: ' + props.row.id + ')'"
            />
          </q-card-section>

          <q-separator />

          <q-list>
            <q-item>
              <q-item-section>
                <q-item-label>Training:</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-item-label class="text-primary">{{
                  props.row.training
                }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>Trainee:</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-item-label class="text-primary">{{
                  props.row.trainee
                }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>Condition:</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-item-label class="text-primary">{{
                  props.row.condition
                }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>Bot:</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-item-label class="text-primary">{{
                  props.row.bot
                }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>Bot-Variant:</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-item-label class="text-primary">{{
                  props.row.bot_variant
                }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>WS-Room:</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-item-label class="text-primary">{{
                  props.row.ws_room
                }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>unity-Scene:</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-item-label class="text-primary">{{
                  props.row.unity_scene
                }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card>
      </div>
    </template>
  </q-table>
</template>

<script>
import { defineComponent } from "vue";

import { mapStores, mapState } from "pinia";
import { useRunningTrainingStore } from "stores/running_training";
import backend from "../api/backend.js";

export default defineComponent({
  name: "ChooseTraining",

  data() {
    return {
      filter: "",
      selected: [],
      loading_btn: false,
    };
  },

  created: function () {
    //this.getData();
  },

  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useRunningTrainingStore),

    ...mapState(useRunningTrainingStore, [
      "training_list",
      "getCurrentTraining",
      "trialDataBasicInfo",
    ]),
  },

  watch: {
    selected(newItem, oldItem) {
      // save selected training in store
      if (Object.keys(newItem).length === 0) {
        this.runningTrainingStore.changeRunningTrainingApi({});
      } else {
        this.runningTrainingStore.changeRunningTrainingApi(newItem[0]);
      }

      // enable/disable stepper btn
      if (
        Object.keys(this.runningTrainingStore.getCurrentTraining).length === 0
      ) {
        this.runningTrainingStore.changeStepOk(false);
      } else {
        this.runningTrainingStore.changeStepOk(true);
      }
    },
  },

  methods: {
    getData() {
      this.loading_btn = true;
      backend.GetCurrentTrainings().then((resp) => {
        this.loading_btn = false;
      });
    },

    getSelectedString(numberOfRows) {
      return numberOfRows + " training selected";
    },
  },
});
</script>

<style lang="sass">
.grid-style-transition
  transition: transform .28s, background-color .28s
</style>
