<template>
  <q-card class="q-mx-md" style="height: 530px; flex: 1">
    <q-item>
      <q-item-section avatar>
        <q-avatar
          icon="fa-solid fa-headset"
          size="65px"
          font-size="45px"
          text-color="primary"
          color="grey-3"
        />
      </q-item-section>

      <q-item-section>
        <q-item-label class="text-h5">Communication</q-item-label>
        <q-item-label caption>Trainee and Virtual Character</q-item-label>
      </q-item-section>
    </q-item>

    <q-separator />

    <q-card-section v-if="filteredMessages.length > 0">
      <q-scroll-area
        :thumb-style="thumbStyle"
        :bar-style="barStyle"
        style="height: 420px; flex: 1"
        ref="chatScroll"
      >
        <q-chat-message
          v-for="(message, index) in filteredMessages"
          :key="index"
          :text="[message.text]"
          :sent="getSentBoolean(message)"
          :stamp="
            new Date(message.timestamp.slice(0, -1)).toLocaleString('en-US')
          "
          class="q-mx-md"
        >
          <template v-slot:name>{{ getChatName(message) }}</template>
          <template v-slot:avatar>
            <div class="q-mx-sm">
              <q-avatar
                :icon="getAvatarIcon(message)"
                size="55px"
                font-size="35px"
                text-color="primary"
                color="grey-3"
              />
            </div>
          </template>
        </q-chat-message>
      </q-scroll-area>
    </q-card-section>

    <q-card-section v-else>
      <div class="q-px-md q-py-lg row flex flex-center text-h4">
        <q-spinner-dots size="3rem" />
      </div>
      <div class="q-px-md row flex flex-center">
        Waiting for first message...
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import { defineComponent } from "vue";
import { mapStores, mapState } from "pinia";
import { useRunningTrainingStore } from "stores/running_training";

export default defineComponent({
  name: "CommunicationCard",

  data() {
    return {
      thumbStyle: {
        right: "4px",
        borderRadius: "5px",
        backgroundColor: "#027be3",
        width: "5px",
        opacity: 0.75,
      },

      barStyle: {
        right: "2px",
        borderRadius: "9px",
        backgroundColor: "#027be3",
        width: "9px",
        opacity: 0.2,
      },
    };
  },

  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useRunningTrainingStore),

    ...mapState(useRunningTrainingStore, ["filteredMessages"]),
  },

  watch: {
    //
  },

  methods: {
    getChatName(msg) {
      if (msg.from == "unity") {
        return "Trainee";
      } else if (msg.from == "cs") {
        return "Virtual Character";
      } else {
        return msg.from;
      }
    },

    getSentBoolean(msg) {
      if (msg.from == "unity") {
        return true;
      } else if (msg.from == "cs") {
        return false;
      } else {
        return false;
      }
    },

    getAvatarIcon(msg) {
      if (msg.from == "unity") {
        return "fa-solid fa-user-graduate";
      } else if (msg.from == "cs") {
        return "fa-solid fa-robot";
      } else {
        return "fa-brands fa-android";
      }
    },
  },
});
</script>
