<template>
  <div class="row flex flex-center q-mx-md q-py-lg">
    <q-card class="q-mr-md q-mt-md text-center">
      <q-card-section>
        <div class="text-overline">Websocket</div>
      </q-card-section>

      <q-card-section>
        <q-circular-progress
          :indeterminate="wsProgress ? true : false"
          show-value
          font-size="10px"
          class="q-ma-md"
          size="110px"
          color="primary"
          track-color="grey-3"
        >
          <q-avatar
            size="100px"
            font-size="52px"
            icon="fa-solid fa-database"
            :color="wsOpen ? 'positive' : 'negative'"
          />
        </q-circular-progress>
      </q-card-section>
    </q-card>

    <q-card class="q-mr-md q-mt-md text-center">
      <q-card-section>
        <div class="text-overline">Chatscript</div>
      </q-card-section>

      <q-card-section>
        <q-circular-progress
          :indeterminate="csProgress ? true : false"
          show-value
          font-size="10px"
          class="q-ma-md"
          size="110px"
          color="primary"
          track-color="grey-3"
        >
          <q-avatar
            size="100px"
            font-size="52px"
            icon="fa-solid fa-comments"
            :color="csConnected ? 'positive' : 'negative'"
          />
        </q-circular-progress>
      </q-card-section>
    </q-card>

    <q-icon
      v-if="csConnected & wsOpen"
      name="fa-solid fa-right-from-bracket"
      color="primary"
      size="4rem"
    />

    <q-card v-if="csConnected & wsOpen" class="q-mx-md q-mt-md text-center">
      <q-card-section>
        <div class="text-overline">Unity</div>
      </q-card-section>

      <q-card-section>
        <q-circular-progress
          :indeterminate="unityProgress ? true : false"
          show-value
          font-size="10px"
          class="q-ma-md"
          size="110px"
          color="primary"
          track-color="grey-3"
        >
          <q-avatar
            size="100px"
            font-size="52px"
            icon="fa-brands fa-unity"
            :color="unityConnected ? 'positive' : 'negative'"
          />
        </q-circular-progress>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import { mapStores, mapState } from "pinia";
import { useRunningTrainingStore } from "stores/running_training";
import ws_client from "../websocket/client";

import OperatorDialog from "./OperatorDialog";

export default defineComponent({
  name: "ConnectTraining",

  data() {
    return {
      wsProgress: false,
      csProgress: false,
      unityProgress: true,
    };
  },

  created: function () {
    this.startWS();
  },

  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useRunningTrainingStore),

    ...mapState(useRunningTrainingStore, [
      "csConnected",
      "wsOpen",
      "unityConnected",
      "wsHost",
      "wsPort",
      "wsRoom",
      "wsBotVariant",
      "getOperatorVariables",
    ]),
  },

  watch: {
    wsOpen(newValue, oldValue) {
      if (newValue == true) {
        this.wsProgress = false;

        // start cs
        this.startCS();
      }

      // stepOk
      if (newValue == true && this.csConnected && this.unityConnected) {
        this.runningTrainingStore.changeStepOk(true);
      }
    },

    csConnected(newValue, oldValue) {
      if (newValue == true) {
        this.csProgress = false;
        // send :reset to cs always on start up
        ws_client.sendMessage("app", "cs", ":reset", "system");
      }

      // stepOk
      if (newValue == true && this.wsOpen && this.unityConnected) {
        this.runningTrainingStore.changeStepOk(true);
      }
    },

    unityConnected(newValue, oldValue) {
      if (newValue == true) {
        this.unityProgress = false;
      }

      // stepOk
      if (newValue == true && this.csConnected && this.wsOpen) {
        this.runningTrainingStore.changeStepOk(true);
      }
    },
  },

  methods: {
    /** WEBSOCKET */
    startWS() {
      this.wsProgress = true;
      ws_client.startWsClient();
    },

    /**CHATSCRIPT */
    startCS() {
      this.csProgress = true;

      var data = {
        ws_host: this.wsHost,
        ws_port: this.wsPort,
        ws_room: this.wsRoom,
        bot_variant: this.wsBotVariant,
      };

      window.electronAPI.startChatscript(data).then(() => {
        //console.log("YEAH!!!!");
      });
    },
  },
});
</script>
