<template>
  <div class="full-height row wrap justify-evenly">
    <div class="q-px-md q-pb-lg row flex flex-center text-h4">
      Finish Training
    </div>
  </div>
  <div class="full-height row wrap justify-evenly">
    <div class="q-px-md q-pb-lg row flex flex-center text-h6">
      Please choose:
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "FinishTraining",

  data() {
    return {
      //
    };
  },

  created: function () {
    //
  },
});
</script>
