<template>
  <q-card style="width: 200px; height: 300px">
    <q-item>
      <q-item-section avatar>
        <q-avatar
          icon="fa-solid fa-circle-info"
          size="65px"
          font-size="50px"
          text-color="primary"
          color="grey-3"
        />
      </q-item-section>

      <q-item-section>
        <q-item-label class="text-h5">Info</q-item-label>
        <q-item-label caption>Current Status</q-item-label>
      </q-item-section>
    </q-item>

    <q-separator />

    <q-list>
      <q-item-label header>Status</q-item-label>

      <q-item dense>
        <q-item-section>
          <q-item-label>
            <q-spinner-puff color="primary" size="2em" />
            {{ statusMessage }}
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-separator spaced />

      <q-item-label header>Time</q-item-label>

      <q-item dense>
        <q-item-section>
          <q-item-label class="text-h4">{{ trainingTime }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-card>
</template>

<script>
import { defineComponent } from "vue";
import { mapStores, mapState } from "pinia";
import { useRunningTrainingStore } from "stores/running_training";

import trainingTimer from "../helper/trainingTimer";

export default defineComponent({
  name: "InfoCard",

  data() {
    return {
      test: false,
      // timer
      raw_time: null,
      training_start_time: null,
      training_timer_id: null,
    };
  },

  created: function () {
    //this.training_timer_start();
  },

  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useRunningTrainingStore),

    ...mapState(useRunningTrainingStore, [
      "filteredMessages",
      "trainingTime",
      "trainingSceneStarted",
      "statusMessage",
      "lastMessageType",
      "lastMessageFrom",
      "lastMessageTo",
    ]),
  },

  watch: {
    trainingSceneStarted(newValue, oldValue) {
      if (newValue == true) {
        // start timer
        trainingTimer.training_timer_start();

        // change status
        this.runningTrainingStore.changeStatusMessage("Waiting for trainee...");
      } else {
        // stop timer
        trainingTimer.training_timer_stop();

        // change status
        this.runningTrainingStore.changeStatusMessage("Waiting for start...");

        // reset training time
        this.runningTrainingStore.changeTrainingTime(0);
      }
    },

    lastMessageType(newValue, oldValue) {
      if (
        (newValue == "question") &
        (this.lastMessageTo == "app") &
        (this.lastMessageFrom == "unity")
      ) {
        this.runningTrainingStore.changeStatusMessage(
          "Waiting for operator..."
        );
      } else if (
        (newValue == "question") &
        (this.lastMessageTo == "cs") &
        (this.lastMessageFrom == "app")
      ) {
        this.runningTrainingStore.changeStatusMessage("Waiting for bot...");
      } else if (
        (newValue == "answer") &
        (this.lastMessageTo == "unity") &
        (this.lastMessageFrom == "cs")
      ) {
        this.runningTrainingStore.changeStatusMessage("Waiting for trainee...");
      }
    },
  },

  methods: {
    //
  },
});
</script>
