<template>
  <q-card class="q-mx-md" style="flex: 1">
    <q-item>
      <q-item-section avatar>
        <q-avatar
          icon="fa-solid fa-head-side-virus"
          size="65px"
          font-size="45px"
          text-color="negative"
          color="grey-3"
        />
      </q-item-section>

      <q-item-section>
        <q-item-label class="text-h5">Operator</q-item-label>
        <q-item-label caption>Wake up! It's your choice...</q-item-label>
      </q-item-section>
    </q-item>

    <q-separator />

    <q-card-section>
      <blockquote class="border-left">
        <p class="text-h6">"{{ lastQuestionUnityToApp.text }}"</p>
        <small
          >Last question from <cite>Trainee</cite> at
          <cite>{{
            new Date(
              lastQuestionUnityToApp.timestamp.slice(0, -1)
            ).toLocaleString("en-US")
          }}</cite></small
        >
      </blockquote>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <!-- here we loop through all defined operator variables of the data model of the training.
        currently, only BooleanField, and CharField or IntegerField with defined(!) choices are possible. 
        We assume that all operator variables must be filled in in each trial -->
      <q-form ref="myForm">
        <div class="full-height row wrap justify-evenly">
          <q-card
            v-for="(variable, index) in operatorVariables"
            :key="index"
            style="width: auto"
            class="q-mt-xs"
          >
            <q-card-section>
              <div class="text-h6">{{ variable.verbose_name }}</div>
              <div class="text-caption">{{ variable.help_text }}</div>
            </q-card-section>

            <q-separator />

            <q-card-section
              class="q-pt-none"
              v-if="
                (variable.type == 'CharField') |
                  (variable.type == 'IntegerField')
              "
            >
              <div class="q-pa-lg">
                <q-option-group
                  v-model="operator_data[index]"
                  :options="variable.options"
                  color="primary"
                  :rules="[
                    (val) => (val && val.length > 0) || 'Please type something',
                  ]"
                />
              </div>
            </q-card-section>

            <q-card-section
              class="q-pt-none"
              v-if="variable.type == 'BooleanField'"
            >
              <div class="q-pa-lg">
                <q-toggle
                  v-model="operator_data[index]"
                  color="primary"
                  :rules="[
                    (val) => (val && val.length > 0) || 'Please type something',
                  ]"
                />
              </div>
            </q-card-section>
          </q-card>
        </div>
      </q-form>
    </q-card-section>

    <q-separator />

    <q-card-actions align="right">
      <q-btn color="primary" label="Send" @click="onSubmit" />
      <q-btn flat>Reset</q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
import { defineComponent } from "vue";
import { mapStores, mapState } from "pinia";
import { useRunningTrainingStore } from "stores/running_training";
import ws_client from "../websocket/client";

export default defineComponent({
  name: "OperatorDialog",

  data() {
    return {
      operator_data: [],
    };
  },

  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useRunningTrainingStore),

    ...mapState(useRunningTrainingStore, [
      "operatorVariables",
      "lastQuestionUnityToApp",
      "trialDataOperatorVariables",
    ]),
  },

  methods: {
    onSubmit() {
      // we must implement a validation of the form by ourselve because q-form only
      // finds validation components of 1. order and we have packed it into cards for
      // better usability (and I am too unexperienced to use the quasar validation ._))

      var validated = true;

      for (let i = 0; i < this.operatorVariables.length; i++) {
        if (this.operator_data[i] == undefined) {
          validated = false;
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "warning",
            message:
              "You need to provide a value for the operator variable '" +
              this.operatorVariables[i].verbose_name +
              "'",
          });
        }
      }

      if (validated) {
        // create message for cs
        // format: "[operatorVariable[0]] [operatorVariable[1]] [...] question"
        var msg_txt = "";
        for (let i = 0; i < this.operatorVariables.length; i++) {
          msg_txt = msg_txt + "[" + this.operator_data[i] + "]";
        }

        msg_txt = msg_txt + " " + this.lastQuestionUnityToApp.text;

        // send the message
        ws_client.sendMessage("app", "cs", msg_txt, "question");

        // save operator variables in trialData
        var data = {};

        for (let i = 0; i < this.operatorVariables.length; i++) {
          data[this.operatorVariables[i].name] = this.operator_data[i];
        }

        this.runningTrainingStore.changeTrialDataOperatorVariables(data);
      }
    },
  },
});
</script>
