<template>
  <div class="full-height row wrap justify-evenly">
    <UnityCard />

    <CommunicationCard v-if="!jobOfOperator" />
    <OperatorDialog v-if="jobOfOperator" />

    <InfoCard />
  </div>
</template>

<script>
import { defineComponent } from "vue";
import { mapStores, mapState } from "pinia";
import { useRunningTrainingStore } from "stores/running_training";
import backend from "../api/backend.js";
import ws_client from "../websocket/client";

import UnityCard from "components/UnityCard";
import OperatorDialog from "components/OperatorDialog";
import CommunicationCard from "components/CommunicationCard";
import InfoCard from "components/InfoCard";

export default defineComponent({
  name: "RunTraining",

  components: {
    UnityCard,
    OperatorDialog,
    CommunicationCard,
    InfoCard,
  },

  data() {
    return {
      jobOfOperator: false,
    };
  },

  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useRunningTrainingStore),

    ...mapState(useRunningTrainingStore, [
      "lastQuestionUnityToApp",
      "lastQuestionAppToCs",
      "trainingSceneStarted",
      "wsOpen",
      "csConnected",
      "unityConnected",
    ]),
  },

  watch: {
    lastQuestionUnityToApp: {
      // necessary if we want to watch arrays
      deep: true,

      handler() {
        this.jobOfOperator = true;
      },
    },

    lastQuestionAppToCs: {
      // necessary if we want to watch arrays
      deep: true,

      handler() {
        this.jobOfOperator = false;
      },
    },

    trainingSceneStarted(newValue, oldValue) {
      if (newValue == false) {
        //this.stopTraining();
      }
    },

    wsOpen(newValue, oldValue) {
      // stepOk
      if (newValue == false && !this.csConnected && !this.unityConnected) {
        this.runningTrainingStore.changeStepOk(true);
      }
    },

    csConnected(newValue, oldValue) {
      // stepOk
      if (newValue == false && !this.wsOpen && !this.unityConnected) {
        this.runningTrainingStore.changeStepOk(true);
      }

      if (newValue == false && this.wsOpen && !this.unityConnected) {
        this.stopWS();
      }
    },

    unityConnected(newValue, oldValue) {
      // stepOk
      if (newValue == false && !this.csConnected && !this.wsOpen) {
        this.runningTrainingStore.changeStepOk(true);
      }
    },
  },

  methods: {
    stopTraining() {
      // 1. backend current training training_running = false + If at least 1 trial in data => training finished
      backend.UpdateTrainingRunning(false).then((resp) => {
        if (this.csConnected) {
          this.stopCS();
        }
      });
    },

    stopCS() {
      console.log("try to close cs...");
      window.electronAPI.check_and_stop_cs_server();
    },

    stopWS() {
      console.log("Try to close websocket...");
      ws_client.closeWsClient();
    },
  },
});
</script>
