<template>
  <q-card style="width: 200px; height: 190px">
    <q-item>
      <q-item-section avatar>
        <q-avatar
          icon="fa-brands fa-unity"
          size="65px"
          font-size="50px"
          text-color="primary"
          color="grey-3"
        />
      </q-item-section>

      <q-item-section>
        <q-item-label class="text-h5">Unity</q-item-label>
        <q-item-label caption>Commands</q-item-label>
      </q-item-section>
    </q-item>

    <q-separator />

    <q-card-actions vertical align="center">
      <q-btn
        round
        :color="trainingSceneStarted ? 'red' : 'green'"
        icon="fa-solid fa-power-off"
        @click="startOrStopTrainingScene()"
        :disable="start_disabled"
      >
        <q-tooltip v-if="!trainingSceneStarted">Start Training</q-tooltip>
        <q-tooltip v-if="trainingSceneStarted">Stop Training</q-tooltip>
      </q-btn>
    </q-card-actions>

    <q-separator />

    <q-card-section align="center">
      <div class="text-caption text-grey">
        {{ unityScene }}
      </div>
    </q-card-section>
  </q-card>

  <q-dialog
    v-model="warn_dialog"
    persistent
    transition-show="scale"
    transition-hide="scale"
  >
    <q-card>
      <q-item>
        <q-item-section avatar>
          <q-avatar
            icon="fa-solid fa-circle-exclamation"
            size="65px"
            font-size="45px"
            text-color="negative"
            color="grey-3"
          />
        </q-item-section>

        <q-item-section>
          <q-item-label class="text-h5">Are you sure?</q-item-label>
        </q-item-section>
      </q-item>

      <q-separator />

      <q-card-section>
        <div class="text-h6">Do you really want to stop the training?</div>
      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <q-btn flat label="Cancel" v-close-popup />
        <q-btn color="negative" label="OK" @click="stopTraining" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { defineComponent } from "vue";
import { mapStores, mapState } from "pinia";
import { useRunningTrainingStore } from "stores/running_training";
import ws_client from "../websocket/client";

export default defineComponent({
  name: "UnityCard",

  data() {
    return {
      start_disabled: false,
      warn_dialog: false,
    };
  },

  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useRunningTrainingStore),

    ...mapState(useRunningTrainingStore, [
      "trainingSceneStarted",
      "unityScene",
    ]),
  },

  watch: {
    trainingSceneStarted(newValue, oldValue) {
      if (newValue == false) {
        this.start_disabled = true;
      }
    },
  },

  methods: {
    // send msg to unity to start or stop the training scene
    startOrStopTrainingScene() {
      if (!this.trainingSceneStarted) {
        ws_client.sendMessage("app", "unity", "start training scene", "system");
      } else {
        this.warn_dialog = true;
        //ws_client.sendMessage("app", "unity", "stop training scene", "system");
      }
    },

    stopTraining() {
      this.warn_dialog = false;
      ws_client.sendMessage("app", "unity", "stop training scene", "system");
    },
  },
});
</script>
