{% extends 'vrct_app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">

    <div class="text-center col-md-4">
        <div class="h5 my-3"><b>Trainee:</b> {{context.current_training.trainee}}</div>
    </div>
    <div class="text-center col-md-4">
        <div class="h5 my-3"><b>Training:</b> {{context.current_training.training}}</div>
    </div>
    <div class="text-center col-md-4">
        <div class="h5 my-3"><b>Condition:</b> {{context.current_training.condition}}</div>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="text-center col-md-12">
        <h1 class="text-center my-4">Tutorial Training Feedback</h1>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="text-center col-md-12">
        <h3 class="text-center mt-5">Your communication strategy results in the following behavior of the avatar:</h3>
    </div>
</div>

<div class="row d-flex justify-content-center mt-5">
    <div class="text-center col-md-6">
        <div class="card text-white bg-success text-center mx-auto" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-title">{{ context.feedback_model.n_communicative_behavior }} %</h1>
                <p class="card-text">communicative behavior</p>
            </div>
        </div>
    </div>
    <div class="text-center col-md-6">
        <div class="card text-white bg-danger text-center mx-auto" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-title">{{ context.feedback_model.n_reserved_behavior }} %</h1>
                <p class="card-text">reserved behavior</p>
            </div>
        </div>
    </div>

    {% if context.feedback_model.n_communicative_behavior > context.feedback_model.n_reserved_behavior %}
    <div class="text-center col-md-12">
        <h3 class="mt-5">Perfekt! You induced more communicative behavior than reserved behavior!</h3>
    </div>
    {% else %}
    <div class="text-center col-md-12">
        <h3 class="mt-5">You should try to change your communication strategy in order to induce more communicative behavior than reserved behavior!</h3>
    </div>
    {% endif %}


</div>

{% if context.feedback_model.n_communicative_behavior > 0 %}
<div class="row d-flex justify-content-center mt-5">
    </div class="col-md-12">
        <h3 class="text-center mt-5">In the following you see an exemplary conversation, which induced <b>communicative behavior</b>:</h3>
    <div>
</div>

<div class="d-flex justify-content-start mt-3">
    <div class="card border border-success" style="width: 60%;">
        <div class="card-body">
            <h5 class="card-title"><b>Your question:</b></h5>
            <p class="card-text">{{ context.feedback_model.good_trial_question_content  }}</p>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end mt-3">
    <div class="card border border-success" style="width: 60%;">
        <div class="card-body">
            <h5 class="card-title"><b>Answer:</b></h5>
            <p class="card-text">{{ context.feedback_model.good_trial_answer_content  }}</p>
        </div>
    </div>
</div>
{% endif %}

{% if context.feedback_model.n_reserved_behavior > 0 %}
<div class="row d-flex justify-content-center mt-5 ">
    </div class="col-md-12">
        <h3 class="text-center mt-5">In the following you see an exemplary conversation, which induced <b>reserved behavior</b>:</h3>
    <div>
</div>

<div class="d-flex justify-content-start mt-3">
    <div class="card border border-danger" style="width: 60%;">
        <div class="card-body">
            <h5 class="card-title"><b>Your question:</b></h5>
            <p class="card-text">{{ context.feedback_model.bad_trial_question_content }}</p>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end mt-3">
    <div class="card border border-danger" style="width: 60%;">
        <div class="card-body">
            <h5 class="card-title"><b>Answer:</b></h5>
            <p class="card-text">{{ context.feedback_model.bad_trial_answer_content  }}</p>
        </div>
    </div>
</div>

</div>

{% endif %}

{% endblock %}

{% block bootstrap4_extra_script %}

{% endblock %}