{% extends 'vrct_app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Create new Trainee{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">
    <form method="post" class="mx-auto center-text mt-4">
        {% csrf_token %}
        <table>
          {{ form|crispy }}
        </table>
        {% if error %}
            <span class="text-danger mt-3 lead mb-3">{{ error }}</span>
        {% endif %}
        <button type="submit" class="btn btn-lg btn-primary">Create</button>
    </form>
</div>
{% endblock %}

<!-- ToDo: ajax and set group based on choosen training: https://stackoverflow.com/questions/59361850/how-to-fill-a-form-field-based-on-another-field-in-django-template-using-ajaxjq -->
{% block bootstrap4_extra_script %}
<script>
$(document).ready(
    function(){
        $("#id_trainee_training").on('change', function(){
            var value = $(this).val();

            // Remove options
            $('#id_trainee_group').empty()

            if (value != '') {

                $.ajax({
                    url: "{% url 'ajax_get_groups_by_training' %}",
                    data: {
                        'training_id': value 
                    },
                    dataType: 'json',

                    success: function (data) {

                        console.log('data is ' + data)

                        if (data.length > 0) {

                            console.log('data.length > 0')

                            // Remove form errors
                            $("#subject_error_field").remove();

                            $.each(data, function (i, item) {
                                $('#id_trainee_group').append($('<option>', { 
                                    value: item.id,
                                    text : item.name 
                                }));
                            });

                        } else {

                            $("#subject_error_field").remove();

                            $("#id_trainee_group").after("<p class='errorField' id='subject_error_field' style='color: red;'><em></em>" + 'Sorry, there was an error.' + "</p>");
                        }
                            
                    },
                });


            }
    })
})
</script>
{% endblock %}