{% extends 'vrct_app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Fallvignette{% endblock %}

{% block content %}

<div class="progress mb-3 mt-0 pt-0" style="height: 1px;">
        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

<form method="post" style="max-width: 50%;" class="mx-auto center-text mt-4">
    {% csrf_token %}
    <table>
        {{ form|crispy }}
    </table>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Vignette aufrufen</button>
</form>
    
{% endblock %}