{% extends 'vrct_app/base.html' %}

{% block title %}Geschafft!{% endblock %}

{% block content %}

    <div class="progress mb-4 mt-3" style="height: 1px;">
        <div class="progress-bar" role="progressbar" style="{{ progress_style }}" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="container mb-4">
        <div class="row">
            <div class="col-sm-12 my-auto">
                <h2 class="mx-auto text-center">Bitte melden Sie sich bei Ihrem Versuchsleiter oder Ihrer Versuchsleiterin.</h2>
            </div>
        </div>
    </div>


    <div class="border-top">

    </div>
    
{% endblock %}