{% extends 'vrct_app/base.html' %}

{% block title %}{{ child_character }}{% endblock %}

{% block content %}

    <div class="progress mb-5" style="height: 1px;">
        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <blockquote class="blockquote text-center mt-3 mb-3">
        <p class="mb-0">{{ vignette }}</p>
    </blockquote>

    <div class="border-top mt-3">
        <a href="/vignettes/finished/" class="btn btn-lg btn-primary float-right mt-3">Weiter</a>
    </div>
    
    
{% endblock %}