{% extends 'vrct_app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Fragebogen{% endblock %}

{% block content %}

    <p class="mx-auto text-center lead mb-3 mt-3 pb-0">{{ instruction | safe }}</p>

    <p class="mx-auto text-center lead mb-3 mt-3 pb-0">Beachten Sie, dass Fragen mit einem * beantwortet werden müssen!</p>

    <div class="progress mb-3 mt-0 pt-0" style="height: 1px;">
        <div class="progress-bar" role="progressbar" style="{{ progress_style }}" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
    </div>


    <form method="post" style="max-width: 100%;" class="mt-4">
        {% csrf_token %}
        <table>
            {% crispy form %}
        </table>
        <input type='hidden' value='{{ Trainee }}' name='Trainee'>
        <input type='hidden' value='{{ timepoint }}' name='timepoint'>
        <input type='hidden' value='{{ q_timepoint }}' name='q_timepoint'>
        <div class="border-top mt-3">
            {% if form.errors %}
            <span class="text-danger mt-3">Sie müssen alle Fragen beantworten. Unbeantwortete Fragen sind rot markiert.</span>
            {% endif %}
            <button type="submit" class="btn btn-lg btn-primary float-right mt-3">Weiter</button>
        </div>
    </form>

    
    
{% endblock %}

{% block bootstrap4_extra_script %}
<script>


</script>
{% endblock %}