{% extends 'vrct_app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Fragebögen{% endblock %}

{% block content %}

    <div class="progress mb-3 mt-0 pt-0" style="height: 1px;">
        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <form method="post" style="max-width: 50%;" class="mx-auto center-text mt-4">
        {% csrf_token %}
        <table>
          {{ form|crispy }}
        </table>
        {% if error %}
            <span class="text-danger mt-3 lead mb-3">{{ error }}</span>
        {% endif %}
        <button type="submit" class="btn btn-lg btn-primary btn-block mt-3">Beginnen</button>
    </form>
    
{% endblock %}

{% block bootstrap4_extra_script %}
<script>

$(document).ready(
    function(){
        $("#id_Trainee").on('keyup', function(){
            var value = $(this).val();
            $.ajax({
                url: "{% url 'ajax_trainee_id_autocomplete' %}",
                data: {
                'search': value 
                },
                dataType: 'json',
                success: function (data) {
                    list = data.list;

                    if (list.length > 0) {

                        // Remove form errors
                        $("#trainee_error_field").remove();

                        $("#id_trainee").autocomplete({
                            source: list,
                            minLength: 1 
                        }); 

                    } else {

                        $("#trainee_error_field").remove();

                        $("#id_trainee").after("<p class='errorField' id='Trainee_error_field' style='color: red;'><em></em>" + 'Dieser Proband existiert nicht in der Datenbank.' + "</p>");
                    }
                        
                },
        });
    })
})

</script>
{% endblock %}