{% extends 'vrct_app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}The Bot Variant has been created.{% endblock %}

{% block content %}

<div class="row d-flex justify-content-center mt-4">
    
    <div class="card text-white bg-success mb-3">
        <div class="card-header">{{ bot_variant.name }}</div>
        <div class="card-body">
            <p class="card-text">
                <ul>
                    <li><b>Short description:</b> {{ bot_variant.short_description }}</li>
                    <li><b>Bot:</b> {{ bot_variant.bot }}</li>
                </ul>
            </p>
        </div>
    </div>

</div>
    
{% endblock %}