{% extends 'vrct_app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Create New Training Condition{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">
    <form method="post" class="mx-auto center-text mt-4">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-lg btn-primary">Save</button>
    </form>
</div>
{% endblock %}

{% block bootstrap4_extra_script %}
<script>
$(document).ready(
    function(){
        $("#id_bot").on('change', function(){
            
            var value = $(this).val();

            // Remove options
            $('#id_bot_variants').empty()

            if (value != '') {

                $.ajax({
                    url: "{% url 'ajax_get_variants_by_bot' %}",
                    data: {
                        'bot_id': value 
                    },
                    dataType: 'json',

                    success: function (data) {

                        console.log('data is ' + data)

                        if (data.length > 0) {

                            console.log('data.length > 0')

                            // Remove form errors
                            $("#error_1_id_bot").remove();

                            $.each(data, function (i, item) {
                                $('#id_bot_variants').append($('<option>', { 
                                    value: item.id,
                                    text : item.name
                                }));
                            });

                        } else {

                            $("#error_1_id_bot").remove();

                            $("#error_1_id_bot").after("<p class='errorField' id='subject_error_field' style='color: red;'><em></em>" + 'Sorry, there was an error.' + "</p>");
                        }
                            
                    },
                });


            }
    })
})
</script>
{% endblock %}