{% extends 'vrct_app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}The Training Condition has been created.{% endblock %}

{% block content %}

<div class="row d-flex justify-content-center mt-4">
    
    <div class="card text-white bg-success mb-3">
        <div class="card-header">{{ group.name }}</div>
        <div class="card-body">
            <p class="card-text">
                <ul>
                    <li><b>Trainings:</b> {{ group.get_trainings }}</li>
                </ul>
            </p>
        </div>
    </div>

</div>
    
{% endblock %}

{{ condition }}