{% extends 'vrct_app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Create New Experimental Group{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">
    <form method="post" class="mx-auto center-text mt-4">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-lg btn-primary">Save</button>
    </form>
</div>
{% endblock %}