{% extends 'vrct_app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}All Trainings{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center mt-5">
    {% if training_list %}
        {% for training in training_list %}
        <div class="col-sm-6">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h5 class="card-title"><b>{{ training.name }}</b></h5>
                    <p class="card-text">{{ training.short_description }}</p>
                    <p class="card-text"><b>Experimental Groups:</b> 
                    
                    {% if training.experimentalgroup_set.all|length > 0 %}
                    <ul>
                        {% for group in training.experimentalgroup_set.all %}
                        <li>{{ group.name }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No groups defined.</p>
                    {% endif %}
                    
                    <p class="card-text"><b>Conditions:</b></p>

                    {% if training.condition_set.all|length > 0 %}
                    <p class="card-text">
                        <div id="carouselExampleIndicators" class="carousel" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner row w-100 mx-auto">
                            {% for condition in training.condition_set.all %}
                                <div {% if forloop.counter is 1 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                                    <div class="card bg-light mx-5">
                                        <div class="card-body">
                                            <p class="card-text"><b>{{ condition.name }}</b></p>
                                            <p class="card-text">Bot: {{ condition.bot }}</p>
                                            <p class="card-text">Bot Variants:</p>
                                            <ul>
                                                {% for variant in condition.bot_variants.all %}
                                                <li>{{ variant.name }}</li>
                                                {% endfor %}  
                                            </ul>
                                            {% if condition.get_questionnaires_pre|length > 0 %}
                                            <p class="card-text">Questionnaires Pre:</p>
                                            <ul>
                                                {% for q in condition.questionnaires_pre.all %}
                                                <li>{{ q }}</li>
                                                {% endfor %}  
                                            </ul>
                                            {% else %}
                                            <p class="card-text">Questionnaires Pre: No Questionnaires defined.</p>
                                            {% endif %}
                                            {% if condition.get_questionnaires_post|length > 0 %}
                                            <p class="card-text">Questionnaires Post</p>
                                            <ul>
                                                {% for q in condition.questionnaires_post.all %}
                                                <li>{{ q }}</li>
                                                {% endfor %}  
                                            </ul>
                                            {% else %}
                                            <p class="card-text">Questionnaires Post: No Questionnaires defined.</p>
                                            {% endif %}
                                            {% if condition.has_feedback %}
                                            <p class="card-text">Feedback: Yes</p>
                                            {% else %}
                                            <p class="card-text">Feedback: No</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span><i class="fa fa-angle-left" aria-hidden="true" style="color: black;"></i></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span><i class="fa fa-angle-right" aria-hidden="true" style="color: black;"></i></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </p>
                    {% else %}
                    <p class="text-danger">No conditions defined yet. You have to define at least one condition!</p>
                    {% endif %}

                    <p class="card-text"><b>Data Table:</b> {{ training.data_table }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger mt-5" role="alert">
            There are no trainings defined!
        </div>
    {% endif %}
</div>


<!--Pagination-->
{% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
            <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active" aria-current="page">
                <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                </span>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
            <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
        {% endif %}
        </ul>
    </nav>
{% endif %}
<!--end of Pagination-->


{% endblock %}